h3#Title {
	color: ;
	font-weight: bold;
	font-size: 40px;
	float: center;
	text-align: center;
}
h2.menuheaders {
	color: white;
	font-size: 20px;
	text-align: center;
	margin: auto;
}

/* Links to more of the articles */
.articlebar{
	background-color: #5bb8ff;
	border: 2px solid;
	padding: 10px;
	z-index: 5;
	margin-left: 20px;
	margin-right: 20px;
}
.articlebar:hover, .articlebar:focus{
	background-color: #4280f4;
}
.ab-content {
	display: none;
	position: absolute;
	background-color: #5bb8ff;
	width: inherit;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 8;
}
.ab-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}



div.coachingbar {
	background: linear-gradient(#22a6e8,white);
	border: 2px solid;
	padding: 6px;
	z-index: 5;
	float: center;
	margin-top: 2px;
	margin-left: 0 auto;
	margin-right: 200
}
div.coachingbar:focus, div.coachingbar:hover{
	background-color: #1f5ec4;
}
div.cb-content{
	display: none;
	position: absolute;
	background-color: inherit;
	min-width: 160px;

}
div.sidebar{
	background-color: #215fc4;
	height: 550px;
	width: 200px;
	border: 7px solid #4286f4;
	position: relative;
	float: right;
	margin: 10px;
	margin-top: 20px;
}
p.sidebar-txt {
	color: #ffffff;
	font: "Times New Roman", Times, serif;
	text-align: center;

}

/* Matt and Devon's headshots formatting */
img.headshot {
	max-height: 30%;
	max-width: 30%;
	margin: auto;
	display: block;
	border: 5px black solid;
}
a.links{
	display: flex;
	color: white;
	margin: 5px;
	margin-left: 40px;
}


/* center box where article feed and side portraits will be */
div.middle-box{
	background-color: #eaf2ff;
	border: black 3px solid;
	height: 600px;
	margin: 20px;
	width: auto;
}


html {
	border: 6px solid white;
}
